# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pydantic cache
*.pydantic/

# SQLite database files
*.sqlite3
*.db

# Logs and runtime files
*.log
*.pid
*.out
*.err
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
.cache/
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Environment variables
.env
.env.*

# Supabase
dev.crt

# App Data for Local use only
/app/data
/app/embeddings